body {
	padding: 1em 2em;
    display: block;
    position: relative;
    font-family: Georgia,"Times New Roman", Times, serif;
    background: #fbfbfb;
    color: #080000;
    font-size: medium;
    overflow: hidden;
    width: 100%;
}

h1 {
	display: block;
    padding-bottom: .5em;
    margin-bottom: .75em;
    border-bottom: 1px solid #333;
    font-size: 1.2em;
    text-transform: capitalize;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}